#map {
  height: 640px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.small-summary {

}

.name-input, .description-input, .tags-input {
  width: 200px;
  background-color: #faf5fa;
  border: 1px solid #dadada;
  border-radius: 2px;
  font-size: 12px;
  font-family: sherif;
  padding: 3px;
}

.description-input {
  resize: none;
}

.input-label {
  font-family: sans;
  font-size: 10px;
  font-weight: lighter;
  margin: 8px 0 4px 6px;
}

.location-field {
  margin: 8px;
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
}

.input-controls {
  width: 180px;
  margin: 10px auto;
}

.button {
  width: 60px;
  height: 32px;
  border: 1px solid #dadada;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.button > img {
  width: 20px;
  height: 20px;
  margin: 6px auto;
  display: block;
}

.button:hover {
  border: 1px solid #a0a0a0;
}

.input-cancel, .input-delete {
  float: left;
}

.input-accept, .input-confirmation {
  float: right;
}

.input-delete.confirming {
  background: #e0e0e0;
  cursor: auto;
}

.input-confirmation {
  visibility: hidden;
}

.input-confirmation.confirming {
  visibility: visible;
}
