<div class="create-new">
  <div class="input-label">Name</div>
  <input type="text" id="@!id" class="name-input" />
  <div class="input-label">Description</div>
  <textarea id="@!id" rows="4" class="description-input"></textarea>
  <div class="input-label">Tags (separate by comma)</div>
  <input type="text"  id="@!id" class="tags-input" />
  <div class="location-field">@!text</div>
  <div class="input-controls clearfix">
    <div class="button input-accept" onClick="@!callback">
      <img src="../img/accept.svg" />
    </div>
  </div>
</div>
